<% provide(:title, 'Contacts') %>
<h1>Contacts</h1>
<p>
	This is contacts of application developed by Ruby on Rails Tutorial.
</p>
<p>
	I'm a Dmitriy, teaching the RoR by the Ruby on Rails Tutorial.
	If you want to contact me, plaese write me on <a href="http://vk.com/d1mskat">my page</a>. <br>
	<strong>Seeya!</strong>
</p>